<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post.post %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class: "button is-ghost is-small" %> 
<%= link_to 'Back', posts_path, class: "button is-ghost is-small" %>
